.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #414141;
}

.hLi{
    float: left;
}

.hLiText{
    display: block;
    color: #f9f9f9;
    text-align: center;
    padding: 14px 16px;
    font-family: 'Comfortaa';
}

.hLiText:hover {
    background-color: #343434;
}

.hLiTextActive{
    display: block;
    color: #f9f9f9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #330033;
    font-family: 'Comfortaa';
}

.hLiTextActive:hover {
    background-color: #280028;
}

.active{
    background-color: #330033;
}

.active:hover{
    background-color: #280028;
}

.footer{
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
    border-top: #414141;
}

.footerItem{
    color:  #414141;
    background: none;
    margin-right: 1%;
    font-size: 10pt;
    border: none;
    font-family: "Roboto";
}

.parallaxBG{
    background-image: url("../img/misc/portrait.JPG");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.plxInner{
    padding: 20% 20%;
}

.aboutTitle{
    margin-top: 7%;
    margin-bottom: 3%;
    text-align: center;
    color: #414141;
    font-size: 400%;
    text-transform: uppercase;
    font-family: "Bangers";
}

.aboutText{
    margin: 0% 20% 5% 20%;
    text-align: center;
    color: #414141;
    font-size: 100%;
    font-family: "Roboto";
    word-wrap: break-word;
}

.photoContainer{
    width: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
}

.image{
    width: 500px;
    box-shadow: 0px 0px 5px 0px #000000;
}

.photoElement{
    width: 500px;
    float: left;
    display: block;
    margin-left: 2%;
    margin-bottom: 2%;
    border-color: #414141;
    border-width: 3px;
    border-style: solid;
}

.subtext{
    margin: 5px 0% 20px 0%;
    text-align: center;
    color: #414141;
    font-size: 100%;
    font-family: "Roboto";
}

 /* The Modal background */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 8% auto;
    padding: 20px;
    border: 5px solid #330033;
    width: 80%;
}

/* The Close Button to the modal*/
.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #343434;
    text-decoration: none;
    cursor: pointer;
}

.modalText{
    color: #414141;
    font-family: "Roboto";
}

/*For horizonztal images in the lightbox*/
.imageBigH{
    width: 1000px;
    box-shadow: 5px 5px 3px #414141;
}
/*same but for vertical*/
/*has size issues that need to be fixed!*/
.imageBigV{
    width: 1000px;
    box-shadow: 5px 5px 3px #414141;
    /*transform: rotate(90deg);*/
}

.lightboxBG{
    margin-top: 2%;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.imgDetailsList{
    list-style-type: square;
    color: #414141;
    font-family: "Roboto";
    text-align: left;
    font-size: 20px;
    border: solid 5px #330033;
}

.idlitem{
    margin: 3%;
    font-family: "Comfortaa";
    font-size: 25px;
}

/*css to the download div*/
.download{
    margin-top: 1%;
    background-color: #330033;
    padding: 1.5%;
}

/*the actual download button*/
.downloadBtn{
    background-color: #330033;
    color: #f9f9f9;
    font-family: "Comfortaa";
    font-size: 25px;
}

/*the smallprint in the resources modal*/
.smallStuff{
    font-family: "Roboto";
    font-size: 8px;
}

.contact{
    margin-top: 5%;
    border: solid 5px #330033;
    text-align: center;
}

.postTitle{
    font-family: "Comfortaa";
    font-size: 50px;
    font-weight: bold;
    color: #414141;
}

.postFrame{
    color: #414141;
    font-family: "Playfair_Display";
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    border: solid 5px #330033;
    padding: 2%;
}

.ulLegal{
    color: #414141;
    font-family: "Roboto";
    list-style-type: square;
}

body{
    margin: 0;
    background-color: #f9f9f9;
}

a{
    text-decoration: none;
}

h2, h3{
    color: #343434;
    font-family: "Comfortaa";
}

@font-face {
    font-family: 'Bangers';
    src: url("../fonts/Bangers/Bangers-Regular.ttf");
}

@font-face {
    font-family: 'Comfortaa';
    src: url("../fonts/Comfortaa/Comfortaa-Bold.ttf");
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: 'Playfair_Display';
    src: url("../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf");
}

@media screen and (max-width: 600px){
    .hLi {float: none;}
    .parallaxBG {background-attachment: scroll;}
    .imageBigH {width: 500px;}
    .imageBigV {width: 500px;}
    .lightboxBG {width: 500px;}
}
