{% block content %}
<div id="mLegal" class="modal">
    <div class="modal-content">
        <span class="closeL close">&times;</span>
        <div class="modal-header">
            <h2>Rechtliches</h2>
        </div>
        <div class="modal-body">
            <p class="modalText">Alle Bild- und Videoinhalte, welche auf dieser Website ausgestellt sind, stehen unter dem Besitz von Kenneth Mathis.
                <br/>Ein Grossteil der hier vorhanden Medien stehen der Öffentlichkeit zur Nutzung zur Verfügung. Nutzung im privaten oder nicht kommerziellen Umfang erlaubt.
                <br/> Für die nicht komerzielle Nutzung ist ein Verweis auf die Quelle, diese Website, erwünscht, aber nicht notwendig. Komerzielle Nutzung ist auf Absprache möglich.
                <br/> Jene Medien, welche nicht der Öffentlichkeit zugänglich sind, stehen in einem privaten Umfang nur Bestimmten Personen(gruppen) zur Verfügung.</p>
        </div>
    </div>
</div>
{% endblock %}