{% block content %}
<div id="mLegal" class="modal">
    <div class="modal-content">
        <span class="closeL close">&times;</span>
        <div class="modal-header">
            <h2>Rechtliches</h2>
        </div>
        <div class="modal-body">
            <h3>Präambel</h3>
            <p class="modalText">Der hier verfasste Text bezieht sich auf die rechtliche Lage jeglichen Inhaltes dieser Website. 
                Jeder welcher einen Nuten aus dieser Website zieht hat sich an den hier vermerkten Text zu halten.</p>
            <h3>Nutzungsbedingungen</h3>
            <p class="modalText">Es stehen alle Medien auf dieser Website der Öffentlichkeit zur Nutzung zur Verfügung. Jedoch nur unter den folgenden Bedingungen:</p>
                <ul class="ulLegal">
                    <li>Es wird anerkannt, dass alle hier ausgestellten Medien unter dem Besitz von Kenneth Mathis stehen. (Dem Ersteller des Inhaltes)</li>
                    <li>Es darf kein finanzieller Gewinn mit den hier ausgestellten Medien gemacht werden. Dies ist jedoch mit einer eindeutigen Absprache möglich.</li>
                    <li>Die Nutzung für private und/oder nicht komerzielle Zwecke ist erlaubt.</li>
                    <li>Es ist ein Verweis auf diese Website bei nicht komerzieller Nutzung erwünscht, jedoch nicht Notwendig.</li>
                    <li>Falls es jemals zu einem Problem kommen sollte und ich Ihnen die Nutzung verbiete haben Sie sich daran zu halten.</li>
                </ul>
            <h3>Anmerkungen</h3>
            <ul class="ulLegal">
                <li>Jene Medien, welche nicht der Öffentlichkeit zugänglich sind, stehen in einem privaten Umfang nur Bestimmten Personen(gruppen) zur Verfügung.</li>
                <li>Unter Medien sind gemeint Code, Bilder und Videos der Website. Jene Elemente welche unter "Ressourcen" vermerkt sind gehören nicht dazu. 
                    Der Quellcode ist dort auch vermerkt, aber der gehört zu den Medien.</li>
                <li>Begriffe wie Sie oder Ihnen bezeichnen eine Person welche Nutzen von den hier zugänglichen Medien.</li>
                <li>Der finanzielle Gewinn bezieht sich auf die Medien selbst und deren Derivaten. Ein Beispiel: Ein Plakat welches Medien von hier verwendet hat keine komerzielle Nutzung.
                    Wenn das Design für dieses Plakat jedoch verkauft werden würde wäre dies eine komerzielle Nutzung.</li>
                <li>Ein Verbot der Nutzung eines Mediums heisst, es darf nicht mehr verwendet werden und wenn möglich muss jedes Anzeichen der Nutzung gelöscht werden.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %} 