{% block content %}
<div id="mResources" class="modal">
    <div class="modal-content">
        <span class="closeR close">&times;</span>
        <div class="modal-header">
            <h2>Ressourcen</h2>
        </div>
        <div class="modal-body">
            <p class="modalText">
                Web Framework: Django<br/>
                Shitty Code*: <a target="_blank" href="https://github.com/JFK422/website">github.com/jfk422/website</a><br/>
                Server: NGINX<br/>
                Schriftarten: Bangers, Comfortaa, Playfair Display<br/>
                Alle hier verwendeten Schriftarten, stehen unter der OF Lizenz und sind auf <a target="_blank" href="https://fonts.google.com/">Google Fonts</a> zu finden.
            </p>
            <p class="smallStuff">*Zusammengeschnippelt von Stack Overflow!</p>
        </div>
    </div>
</div>
{% endblock %}