{% extends "index/basic.html" %}
{% block content %}
{% include "index/snippets/headerPhoto.html" %}
{% load staticfiles %}
<div class="photoContainer">
    {% for pic in object_list %}
        <div class="photoElement" id="photo{{ pic.id }}">
            <a href="/photos/{{ pic.id }}">
                <div class="imageHead">
                    <image src="/static/photos/camera/{{ pic.path }}" class="image"/>
                </div>
                <div class="imgSubtext">
                    <p class="subtext">{{ pic.title }}</p>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}