{% extends "index/basic.html" %}
{% block content %}
{% include "index/snippets/headerPhoto.html" %}
{% load staticfiles %}
<div class="photoContainer">
    {% for pic in object_list %}
        <div class="photoElement" id="photo{{ pic.id }}">
            <a href="/photos/{{ pic.id }}">
                <div class="imageHead">
                    {%  if pic.horizontal %}
                        <image src="/static/photos/compCamera/{{ pic.img }}" class="image"/>
                    {% else %}
                        <image src="/static/photos/compCamera/{{ pic.img }}" class="imageVert"/>
                    {% endif %}
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}