{% load staticfiles %}
<section class="parallaxBG">
    <div class="plxInner">
        <h2 class="aboutWelcome"> </h2>
    </div>
</section>
<p class="aboutTitle">Hey!</p>
<p class="aboutText">Mein Name ist Kenneth Mathis und ich heisse Sie willkommen auf meiner Website.
    <br/>
    Meine Interessen beziehen sich auf Fotografie, Elektronik, Programmieren sowie Computertechnik im Allgemeinen.
    <br/>
    Fast alle Fotos und Videos von mir, sind hier zu finden und stehen für jeden bereit. (Siehe Rechtliches für Nutzung)
</p>
