{% extends "index/basic.html" %}
{% block content %}
{% include "index/snippets/header.html" %}
{% load staticfiles %}
<div class="lightboxBG">
    <ul class="imgDetailsList">
        <li class="idlitem">Facebook: Nein</li>
        <li class="idlitem">Instagram: Nope</li>
        <li class="idlitem">Twitter: Nada</li>
        <li class="idlitem">Snapchat: Neee</li>
        <li class="idlitem">Google+: Auch nicht!</li>
        <li class="idlitem">E-Mail: kenneth.mathis99@gmail.com</li>
        <li class="idlitem">Github: <a target="_blank" href="https://github.com/JFK422">github.com/JFK422</a></li>
        <li class="idlitem">Soundcloud: @jfk422</li>
        <li class="idlitem">Devrant: @jfk422</li>
        <li class="idlitem">BattleTag: JFK422#2899</li>
    </ul>
</div>
{% endblock %}